<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
            <div>          
                  <h6>Edit Profile</h6>
            </div>
            <hr>
          <!-- <form [formGroup]="profileEditForm"> -->
            <form>
            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">

                <input nbInput fullWidth>
              </div>
            </div>


            <div class="form-group row">
                <label class="label col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
  
                  <input nbInput fullWidth>
                </div>
              </div>
            
            <div class="form-group row">
              <label for="inputPassword2" class="label col-sm-3 col-form-label">Supervisor</label>
              <div class="col-sm-9">
                <nb-select placeholder="Select Supervisor" formControlName="region" fullWidth>
                    <!-- <nb-option *ngFor="let location of locations" [value]="location">

                    {{location.name}}

                    </nb-option> -->
                    <nb-option>
                        Matiko Machage
                    </nb-option>

                    <nb-option>
                        Alpha
                    </nb-option>

                  </nb-select>
                
              </div>
            </div>
              <div class="form-group row">
                <div class="col-sm-3" >
                  <button type="submit" nbButton (click)="save()" status="primary">Save</button>
                </div>

              </div>
          </form>
        </nb-card-body>
      </nb-card>
