<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date Requested</th>
            <th scope="col">Location</th>
            <th scope="col">Purpose</th>
            <th scope="col">Type</th>
            <th scope="col">Amount(TZS)</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>



        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let arf of arfs; let i=index">
            <tr>
                <td [attr.rowspan]="arf.erf?'2':'1'">{{i+1}}</td>
                <td [attr.rowspan]="arf.erf?'2':'1'">{{arf.date_of_request}}</td>
                <td [attr.rowspan]="arf.erf?'2':'1'">{{arf.location_name}}</td>
                <td [attr.rowspan]="arf.erf?'2':'1'">
                    {{(arf.purpose.length>10)? (arf.purpose | slice:0:10)+'..':(arf.purpose)}}
                </td>
                <td>Advance</td>
                <td>{{calculateTotalAmount(arf)|number}}</td>
                <td>{{arf.status}}</td>
                <td>
                    <button color="primary" mat-icon-button matTooltip="Edit" [routerLink]="['/arfs-edit', arf.pk]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button color="primary" mat-icon-button matTooltip="Download" *ngIf="arf.excel_sheet"
                        (click)="downloadArf(arf.excel_sheet)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
                    <button color="primary" mat-icon-button matTooltip="Print" (click)="openDeleteDialog(i,arft.pk)">
                        <mat-icon>print</mat-icon>
                    </button>
                    <button color="warn" mat-icon-button matTooltip="Delete" (click)="openDeleteDialog(i,arf.pk)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
            <ng-container *ngIf="arf.erf">
                <tr>
                    <td>Expense </td>
                    <td>{{calculateTotalAmount(arf.erf)|number}}</td>
                    <td>{{arf.erf.status}}</td>
                    <td>

                        <button color="accent" mat-icon-button matTooltip="Edit"
                            [routerLink]="['/erfs-edit', arf.erf.pk]">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button color="accent" mat-icon-button matTooltip="Download" *ngIf="arf.excel_sheet"
                            (click)="downloadArf(arf.excel_sheet)">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                        <button color="accent" mat-icon-button matTooltip="Print" (click)="openDeleteDialog(i,arft.pk)">
                            <mat-icon>print</mat-icon>
                        </button>
                        <button color="warn" mat-icon-button matTooltip="Delete" (click)="openDeleteDialog(i,arf.pk)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </tr>
            </ng-container>



        </ng-container>





    </tbody>
</table>