<table>

    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Location</th>
            <th>Purpose</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let arf of arfs; let i=index">
            <td>{{arf.pk}}</td>
            <td>{{arf.date_of_request}}</td>
            <td>{{arf.location}}</td>
            <td>{{arf.purpose}}</td>
            <td>{{calculateTotalAmount(i)|number}}</td>
            <td>{{arf.status}}</td>
            <td></td>
        </tr>
    </tbody>
</table>