<mat-card>
    <mat-card-title>
        User Profile
    </mat-card-title>

    <!-- <p>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </p>

    <p>

        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </p>


    <p>

        <mat-form-field appearance="fill">
            <mat-label>Signature</mat-label>
            <input type="text" matInput>
        </mat-form-field>




    </p> -->
    <div class="drop-area">
        <p>Click to Choose File</p>
    </div>


</mat-card>