<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
            <div>
              <ng-container *ngIf="editMode; else elseTemplate">

                <ng-container *ngIf="viewMode; else elseTemplate">
                  <h6 style="display: inline;">View Expense Report</h6>
                </ng-container>
                <ng-template #elseTemplate>
                  <h6 style="display: inline;">Edit Expense Report</h6>
                </ng-template>
                
     

              </ng-container>
              <ng-template #elseTemplate>
                <h6 style="display: inline;">Create Expense Report</h6>
              </ng-template>
              
               
               

                <span class="float-right"><label class="label">Grand Total:&nbsp;&nbsp;</label>
                
                  <span class="badge badge-warning">
                  <strong>{{otherCostsSum()+lodgingsSum()+mesSum()|number }} TZS</strong>
                  </span>
                 </span>
            </div>
            <hr>
          <form [formGroup]="erfForm">
            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Name</label>
              <div class="col-sm-9">

                <input class="disabled-bold" nbInput fullWidth disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Trip Purpose</label>
              <div class="col-sm-9">

                <textarea class="disabled-bold" nbInput fullWidth formControlName="purpose" [disabled]="true" placeholder="..."></textarea>
                <small  class="form-text text-danger" *ngIf="erfForm.controls.purpose.invalid && erfForm.controls.purpose.touched">
                 Trip Purpose is required
                </small>
              </div>

              
            </div>
            <div class="form-group row">
              <label for="inputPassword2" class="label col-sm-3 col-form-label">Traveling to</label>
              <div class="col-sm-9">
                <nb-select placeholder="Select Location" formControlName="region" class="disabled-bold" [disabled]="true"  fullWidth>
                    <nb-option *ngFor="let location of locations" [value]="location">

                    {{location.name}}

                    </nb-option>

                  </nb-select>
                  <small  class="form-text text-danger" *ngIf="erfForm.controls.region.invalid && erfForm.controls.region.touched">
                    Location is required
                   </small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 label">Trip Date</label>
              <div class="col-sm-9">
                <input [nbDatepicker]="rangepicker" [value]="datePickerRange"  class="disabled-bold" [disabled]="true"   nbInput fullWidth >
<nb-rangepicker  [range]="selectedRange" #rangepicker></nb-rangepicker>
<small  class="form-text text-danger"  *ngIf="erfForm.controls.startTravelDate.invalid && erfForm.controls.startTravelDate.touched">
  From and To date is Required
 </small>
              </div>
            </div>

            <div class="form-group row">
                <label class="label col-sm-3 col-form-label">Sign Document</label>
                <div class="col-sm-3">
  
                    <nb-toggle class="disabled-bold" [disabled]="viewMode"  labelPosition="end" formControlName="sign" (change)="signChanged()"> {{erfForm.value.sign?"Yes":"No"}}</nb-toggle>
                </div>
                <label class="label col-sm-3 col-form-label">Signature Date</label>

                <div class="col-sm-3">
                  <input type="text" class="disabled-bold" formControlName="signatureDate" fullWidth nbInput>
                </div>

              </div>
          

    <h6>
        M&IE
    </h6>
    <hr>


            <table class="table table-borderless" formArrayName="mes">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 5%;"><label class="label-"> #</label></th>
                    <th scope="col" style="width: 25%;"><label class="label-"> Departure</label></th>
                    <th scope="col" style="width: 24%;"><label class="label-"> Location</label></th>
                    <th scope="col" style="width: 14%; text-align:right;"><label class="label-"> Rate</label></th>
                    <th scope="col" style="width: 10%; text-align:right;"><label class="label-"> Days</label></th>
                    <th scope="col" style="width: 14%; text-align:right;"><label class="label-">  Total</label></th>
                    <th scope="col" style="width: 8%;" colspan="2" *ngIf="!viewMode"><label class="label-"> Action</label></th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let me of mes.controls; let i=index">
                        <ng-container [formGroupName]="i">
                  <tr>
                    <th class="align-middle">{{i+1}}</th>
                    <td>        
                      <input [nbDatepicker]="rangepicker" [value]="meDatePickerRangeList[i]"  class="disabled-bold" [disabled]="viewMode"   nbInput fullWidth >
                      <nb-rangepicker (rangeChange)="meRangeCanged($event,me)" [range]="meSelectedDateRangeList[i]" #rangepicker></nb-rangepicker>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.mes.controls[i].controls.start_date.invalid && erfForm.controls.mes.controls[i].controls.destination.touched">
                        Please fill this field
                       </small>
                    </td>
                    <td>        
                      <input type="text" formControlName="destination" class="disabled-bold" [disabled]="viewMode"  fullWidth nbInput>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.mes.controls[i].controls.destination.invalid && erfForm.controls.mes.controls[i].controls.destination.touched">
                        Please fill this field
                       </small>
                    </td>
                    
                    <td>        
                      <input type="text" formControlName="rate" class="disabled-bold" [disabled]="viewMode"   mask="separator" thousandSeparator=","  style="text-align:right;" fullWidth nbInput>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.mes.controls[i].controls.rate.invalid && erfForm.controls.mes.controls[i].controls.rate.touched">
                        Please fill this field
                       </small>
                    </td>
                    <td>       
                      <input type="text" formControlName="days" class="disabled-bold" [disabled]="viewMode"  mask="separator" thousandSeparator=","  fullWidth nbInput>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.mes.controls[i].controls.days.invalid && erfForm.controls.mes.controls[i].controls.days.touched">
                       Please fill this field
                      </small>
                   </td>
                                  
                                    <td class="align-middle" style="text-align:right;">    {{((mes.value[i].rate*mes.value[i].days*mes.value[i].pRate)/100)|number}} 
                                           <!-- <input type="text" disabled fullWidth nbInput [value]="((mes.value[i].rate*mes.value[i].days*mes.value[i].pRate)/100)|number"> -->
                    </td>
                   
                    <td class="align-middle" *ngIf="mes.length>1 && !viewMode" >
                        <button nbButton outline status="danger" (click)="removeMe(i)" nbTooltip="Delete" nbTooltipStatus="primary" size="small"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>

                    <td class="align-middle" *ngIf="i+1==mes.length && !viewMode">
                        <button nbButton outline status="primary" (click)="addMe({destination:''})" nbTooltip="Add" nbTooltipStatus="primary" size="small"><nb-icon icon="plus"></nb-icon></button>
                        


                    </td>
                  </tr>

                </ng-container>
            </ng-container>
            <tr>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <th>Total</th>
                <th style="text-align:right;">{{mesSum()|number}}</th>
                <td></td>
                <td></td>
            </tr>
                  
                </tbody>
              </table>

              <h6>
                Lodging 
            </h6>
            <hr>


            <table class="table table-borderless" formArrayName="lodgings">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 5%;"><label class="label-">#</label></th>
                    <th scope="col" style="width: 25%;"><label class="label-"> Date</label></th>
                    <th scope="col" style="width: 25%;" ><label class="label-" >Location</label></th>
                    <th scope="col" style="width: 10%; text-align:right;"><label class="label-"> Lodging Max</label></th>
                    <th scope="col" style="width: 10%; text-align:right;"><label class="label-"> Actual Cost</label></th>
                    <th scope="col" style="width: 8%; text-align:right;"><label class="label-"> No. of Nights</label></th>
                    <th scope="col" style="width: 10%; text-align:right;"><label class="label-"> Total</label></th>
                    <th scope="col" style="width: 7%;" colspan="2" *ngIf="!viewMode"><label class="label-"> Action</label></th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lodging of lodgings.controls; let i=index">
                        <ng-container [formGroupName]="i">
                  <tr>
                    <th class="align-middle">{{i+1}}</th>
                    <td>        
                      <input [nbDatepicker]="rangepicker" [value]="lodgingDatePickerRangeList[i]"  class="disabled-bold" [disabled]="viewMode"   nbInput fullWidth >
                      <nb-rangepicker (rangeChange)="meRangeCanged($event,lodging)" [range]="lodgingSelectedDateRangeList[i]" #rangepicker></nb-rangepicker>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.mes.controls[i].controls.start_date.invalid && erfForm.controls.mes.controls[i].controls.destination.touched">
                        Please fill this field
                       </small>
                    </td>
                    <td>       
                       <input type="text" formControlName="destination" class="disabled-bold" [disabled]="viewMode" fullWidth nbInput>
                       <small  class="form-text text-danger" *ngIf="erfForm.controls.lodgings.controls[i].controls.destination.invalid && erfForm.controls.lodgings.controls[i].controls.destination.touched">
                        Please fill this field
                       </small>
                    </td>
                    
                    <td>        
                      <input type="text" formControlName="rate" class="disabled-bold" [disabled]="viewMode"  mask="separator" thousandSeparator=","  style="text-align:right;" fullWidth nbInput>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.lodgings.controls[i].controls.rate.invalid && erfForm.controls.lodgings.controls[i].controls.rate.touched">
                        Please fill this field
                       </small>
                    </td>
                    <td>       
                  
                            <input type="text" formControlName="pRate" class="disabled-bold" [disabled]="viewMode" style="text-align:right;" mask="separator" thousandSeparator=","  nbInput>
                       
                          <small  class="form-text text-danger"  *ngIf="erfForm.controls.lodgings.controls[i].controls.pRate.invalid && erfForm.controls.lodgings.controls[i].controls.pRate.touched">
                            Please fill this field
                           </small>
                    </td>
                    <td>       
                      <input type="text" formControlName="nights" class="disabled-bold" [disabled]="viewMode" mask="separator" thousandSeparator="," style="text-align:right;" fullWidth nbInput>
                      <small  class="form-text text-danger" *ngIf="erfForm.controls.lodgings.controls[i].controls.nights.invalid && erfForm.controls.lodgings.controls[i].controls.nights.touched">
                       Please fill this field
                      </small>
                   </td>
                                  
                                    <td class="align-middle" style="text-align:right;"> 
                                        {{((lodgings.value[i].rate*lodgings.value[i].nights*lodgings.value[i].pRate)/100)|number}}

                    </td>
                   
                    <td class="align-middle" *ngIf="lodgings.length>1  && !viewMode">
                        <button nbButton outline status="danger" (click)="removeLodging(i)" nbTooltip="Delete" nbTooltipStatus="primary" size="small"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>

                    <td class="align-middle" *ngIf="i+1==lodgings.length  && !viewMode">
                        <button nbButton outline status="primary" (click)="addLodging({destination:''})" nbTooltip="Add" nbTooltipStatus="primary" size="small"><nb-icon icon="plus"></nb-icon></button>
                        


                    </td>
                  </tr>

                </ng-container>
            </ng-container>
            <tr>
                <td></td>
                <td></td>

                <td></td>
                <td></td>
                <th>Total</th>
                <th style="text-align:right;">{{lodgingsSum()|number}}</th>
                <td></td>
                <td></td>
            </tr>
                  
                </tbody>
              </table>


            <h6>
                Other Costs
            </h6>
            
              <hr>

              <table class="table table-borderless" formArrayName="otherCosts">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 5%;"><label class="label-"> #</label></th>
                    <th scope="col" style="width: 16%;"><label class="label-"> Date</label></th>
                    <th scope="col" style="width: 55%;"><label class="label-"> Travel expense</label></th>
                    <th scope="col" style="width: 16%; text-align:right;"><label class="label-"> Cost</label></th>
                    <th scope="col" style="width: 8%;" colspan="2" *ngIf="!viewMode"><label class="label-">Action</label></th>
                  </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let otherCost of otherCosts.controls; let i=index">
                        <ng-container [formGroupName]="i">
                  <tr>
                    <th class="align-middle">{{i+1}}</th>
                    <td>       
                      <input [nbDatepicker]="datepicker" [value]="datePickerList[i]"  class="disabled-bold" [disabled]="viewMode"   nbInput fullWidth >
<nb-datepicker (dateChange)="dateChanged($event,otherCost)" [date]="selectedDateList[i]" #datepicker></nb-datepicker>
<small  class="form-text text-danger" *ngIf="erfForm.controls.otherCosts.controls[i].controls.date.invalid && erfForm.controls.otherCosts.controls[i].controls.date.touched">
  Please fill this field
 </small>
                    </td>
                    <td>        <input type="text" class="disabled-bold" [disabled]="viewMode" formControlName="purpose" fullWidth nbInput>
                    </td>
                    <td>        <input type="text"  class="disabled-bold" [disabled]="viewMode" formControlName="amount" mask="separator" thousandSeparator="," style="text-align:right;" fullWidth nbInput>
                    </td>
               
                   
                 
                   
                    <td class="align-middle" *ngIf="otherCosts.length>1  && !viewMode">
                        <button nbButton outline status="danger" (click)="removeOtherCost(i)" nbTooltip="Delete" nbTooltipStatus="primary" size="small"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>

                    <td class="align-middle" *ngIf="i+1==otherCosts.length  && !viewMode">
                        <button nbButton outline status="primary" (click)="addOtherCost({destination:''})" nbTooltip="Add" nbTooltipStatus="primary" size="small"><nb-icon icon="plus"></nb-icon></button>
                        


                    </td>
                  </tr>

                </ng-container>
            </ng-container>
            <tr>
               
                <td></td>
                <th>Total</th>
                <th style="text-align:right;">{{otherCostsSum()|number}}</th>
                <td></td>
                <td></td>
            </tr>
                  
                </tbody>
              </table>



              <h6>
                Approval
            </h6>
            <hr>


            <div class="form-group row">
              <label class="label col-sm-3 col-form-label">Supervisor Name</label>
              <div class="col-sm-9">

                <input class="disabled-bold" disabled nbInput fullWidth placeholder="name">
              </div>
            </div>
  
        

            <div class="form-group row">
                <label class="label col-sm-3 col-form-label">Approval Status</label>
                <div class="col-sm-3">
                  <nb-select placeholder="Pending" formControlName="approve" (selectedChange)="approveChanged()" fullWidth >

      <nb-select-label>
        {{ erfForm.value.approve=="1"?"Approved":"Rejected" }}
      </nb-select-label>
                    <nb-option value="1">Approve</nb-option>
                    <nb-option value="0">Reject</nb-option>

                  </nb-select>
                    <!-- <nb-toggle labelPosition="end" formControlName="sign" (change)="signChanged()"> {{erfForm.value.sign?"Approved":"Rejected"}}</nb-toggle> -->
                </div>
                <label class="label col-sm-3 col-form-label">Approval Date</label>

                <div class="col-sm-3">
                  <input type="text" class="disabled-bold" formControlName="approvalDate" fullWidth nbInput>
                </div>

              </div>
              <div class="form-group row">
                <label class="label col-sm-3 col-form-label">Comments</label>
                <div class="col-sm-9">
  
                  <textarea nbInput fullWidth placeholder="..."></textarea>
                </div>
              </div>
              <div class="form-group row">
               

            
                <div class="offset-sm-3 col-sm-3">
                  <a routerLink="/pages/arf" nbButton>Back</a>
                </div>
                <div class="col-sm-3" *ngIf="!viewMode">
                  <button type="submit" nbButton (click)="save()" status="primary">Save</button>
                </div>

                <div class="col-sm-3" *ngIf="viewMode">
                  <button type="submit" nbButton status="primary">Print</button>
                </div>

                <div class="col-sm-3" *ngIf="viewMode">
                  <button nbButton (click)="downloadArf()" status="info">Download</button>
                </div>
              </div>
          </form>
        </nb-card-body>
      </nb-card>